@use 'src/App.scss' as *;

.config-form {

  display: table;
  table-layout: fixed;

  .form-section {

    display: table-row;

    .form-label {
      
      @extend .v-align-center, .pr-3, .pb-3;

      display: table-cell;
      width: 170px;
    }

    .form-content {
      
      @extend .v-align-center, .pb-3;
      
      display: table-cell;

      .column-select {

        @extend .v-align-center;
        display: flex;

        * {
          @extend .mr-2;
        }
      }
    }
  }
}

