name: amony

services:
  postgres:
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "${DATABASE_USERNAME}", "-d", "amony" ]
      interval: 3s
      timeout: 3s
      retries: 5
    container_name: amony-postgres
    image: postgres:17.2
    user: "${AMONY_DOCKER_USER_ID}:${AMONY_DOCKER_USER_ID}"
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_DB: "amony"
      PGUSER: ${DATABASE_USERNAME:-admin}
      POSTGRES_USER: ${DATABASE_USERNAME:-admin}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-changeme}
    restart: always
    volumes:
      - ${AMONY_HOST_MEDIA_PATH}/.amony/data/postgres:/var/lib/postgresql/data

  amony:
    image: europe-west4-docker.pkg.dev/amony-04c85b/docker-images/amony/amony-app:0.0.3-38-2a4fe8e0
    platform: linux/amd64
    container_name: amony-app
    depends_on:
      postgres:
        condition: service_healthy
    user: "${AMONY_DOCKER_USER_ID}:${AMONY_DOCKER_USER_ID}"
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      AMONY_ADMIN_USERNAME: ${AMONY_ADMIN_USERNAME:-admin}
      AMONY_ADMIN_PASSWORD: ${AMONY_ADMIN_PASSWORD:-changeme}
      DATABASE_HOST: "postgres"
      DATABASE_USERNAME: ${DATABASE_USERNAME:-admin}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-changeme}
    volumes:
      - ${AMONY_HOST_MEDIA_PATH}:/media
      - ${AMONY_HOST_MEDIA_PATH}/.amony/data:/app/data
    restart: "no"