name: amony

services:
  postgres:
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DATABASE_USERNAME}", "-d", "amony"]
      interval: 3s
      timeout: 3s
      retries: 5
    container_name: amony-postgres
    image: postgres:17.2
#    user: "${AMONY_DOCKER_USER_ID}:${AMONY_DOCKER_USER_ID}"
    ports:
      - "127.0.0.1:5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: "amony"
      POSTGRES_USER: ${DATABASE_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-changeme}
    restart: always
    volumes:
      - ${AMONY_HOST_MEDIA_PATH}/.amony/data/postgres:/var/lib/postgresql/data

  amony:
    image: europe-west4-docker.pkg.dev/amony-04c85b/docker-images/amony/amony-app:0.0.3-106-3d31d9c0
    platform: linux/amd64
    container_name: amony-app
    depends_on:
      postgres:
        condition: service_healthy
    user: "${AMONY_DOCKER_USER_ID}:${AMONY_DOCKER_USER_ID}"
    ports:
      - "127.0.0.1:8182:8182"
    env_file:
      - .env
    environment:
      AMONY_ADMIN_USERNAME: ${AMONY_ADMIN_USERNAME:-admin}
      AMONY_ADMIN_PASSWORD: ${AMONY_ADMIN_PASSWORD:-changeme}
      DATABASE_HOST: "postgres"
      DATABASE_USERNAME: ${DATABASE_USERNAME:-admin}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-changeme}
    volumes:
      - ${AMONY_HOST_MEDIA_PATH}:/media
      - ${AMONY_HOST_MEDIA_PATH}/.amony/data:/app/data
    restart: "no"

  dex:
    image: dexidp/dex:latest
    container_name: dex
    restart: unless-stopped
    ports:
      - "5556:5556"
    volumes:
      - ./dex-config.yaml:/etc/dex/config.yaml
    command: ["dex", "serve", "/etc/dex/config.yaml"]