@use 'src/App.scss' as *;

$row-height: 36px;

// https://stackoverflow.com/questions/24840074/how-to-stick-table-headerthead-on-top-while-scrolling-down-the-table-rows-with
.list-container {

  .list-table {
    width: 100%;
    //height: auto;
    display: table;
    position: relative;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;

    @mixin column-select {
      //width: 28px;
    }

    @mixin column-thumbnail {
      //width: 64px;
    }

    @mixin column-tags {
      //width: 30%;
    }

    @mixin column-title {
      //width: 60%;
    }

    @mixin column-date {
      //width: 1%;
    }

    @mixin column-size {
      //width: 1%;
    }

    @mixin column-quality {
      //width: 1%;
    }

    thead {
      position: sticky;
      top: $page-header-height;
      background: var(--bg-primary);
      z-index: 10;
    }

    .last-column {
      // TODO enabling the padding causes the layout to shift when selecting rows
      //padding-right: 8px !important;
    }

    .action-icon {

      @extend .hover-pointer;
      width: 20px;
      height: 20px;
    }

    .list-cell {
      @extend .v-align-center;

      position: relative;
      display: table-cell;

      white-space: nowrap;
      overflow: hidden;

      border-bottom: 1px solid var(--border-secondary);
      padding: 0px 8px;
      height: $row-height;
    }

    .list-header {

      @extend .hover-pointer;

      text-align: left;
      vertical-align: middle;

      padding: 0px;
      font-size: 15px;
      font-weight: 500;
      height: 44px;
      border-bottom: 1px solid var(--border-secondary);
      background-color: var(--bg-primary);

      span {
        padding-left: 8px;
      }

      .column-sort-icon {
        visibility: hidden;
        float: right;
      }
    }

    .list-header-actionbar {

      @extend .list-header;
      width: 90%;
      //text-align: center;
      vertical-align: middle;

      .action-bar-item {
        @extend .hover-pointer;
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }

    .list-header-select {
      @include column-select;
      @extend .list-header, .hover-pointer;
      text-align: center;
      vertical-align: middle;
    }

    .list-header-thumbnail {
      @include column-thumbnail;
      @extend .list-header;
    }

    .list-header-title {
      @include column-title;
      @extend .list-header;
    }

    .list-header-tags {
      @include column-tags;
      @extend .list-header;
    }

    .list-header-date {
      @include column-date;
      @extend .list-header;
    }

    .list-header-size {
      @include column-size;
      @extend .list-header;
    }

    .list-header-resolution {
      @include column-quality;
      @extend .list-header;
    }

    .list-row {
      display: table-row;
      height: $row-height;

      .hover-action {
        visibility: hidden;
        position: absolute;
      }

      .add-tag-button {
        visibility: hidden;
      }

      .edit-title {
        @extend .hover-pointer, .action-icon, .hover-action;
        background-color: var(--bg-secondary);
        width: 30px;
        right: -8px;
        padding-left: 6px;
        padding-right: 4px;
      }

      &:hover {
        background-color: var(--bg-secondary);

        .hover-action {
          visibility: visible;
        }

        .add-tag-button {
          visibility: visible;
        }

        .column-sort-icon {
          visibility: visible;
        }
      }

      .cell-wrapper {

        @extend .v-align-center;

        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
      }

      .list-select {
        @include column-select;
        @extend .list-cell;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        &:hover {
          background-color: var(--bg-hover);
          border-radius: 50%;
        }
        input {
          pointer-events: none;
          align-content: center;
        }
      }

      .list-thumbnail {
        @include column-thumbnail;
        @extend .list-cell;
        //padding-left: 0px;
        padding-right: 0px;
        .list-thumbnail-img {
          @extend .hover-pointer;
          align-items: center;
          vertical-align: middle;
          width: 64px;
          height: 36px;
        }
      }

      .list-title {
        @include column-title;

        .edit-title-input {
          width: calc(100% - 28px);
          padding: 4px;
        }
      }

      .list-tags {
        @include column-tags;

        .add-tag-action {
          @extend .hover-action, .action-icon;
          width: 24px;
          height: 24px;
        }

        .new-tag {
          position: absolute;
          right: 5px;
          min-width: 25px;

          padding: 6px 10px;
          border-radius: 25px;
          border: 1px solid var(--highlight-e);
        }
      }

      .list-date {
        @include column-date;
        white-space: nowrap;
      }

      .list-size {
        @include column-size;
        text-align: right;
      }

      .list-resolution {
        @include column-quality;

        .media-actions {
          @extend .hover-action, .v-align-center;

          display: flex;
          //left: -2px;
          gap: $spacing-s;
          padding-left: 0px;
          background-color: var(--bg-secondary);
          height: 100%;

          .fragments-action {
            @extend .hover-pointer;
            width: 24px;
            height: 24px;
          }

          .delete-action {
            @extend .hover-pointer;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
