@use '../css/Layout.scss' as layout;
@use '../css/Constants.scss' as constants;

.preview-media {

  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .preview-media-container {

    position: relative;
    width: 100%;
    overflow: hidden;
    // 9 / 16 ratio
    padding-top: 56.25%; 
    z-index: 4;
  
    .preview-overlay {
      z-index: 7;
    }
  
    .preview-thumbnail {
      z-index: 5;
    }
  
    .preview-video {
      z-index: 6;
    }

    .preview-unsupported-overlay {
      @extend .abs-top-left;
      z-index: 8;
      margin: 3px;
      padding: 5px;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .preview-quality-overlay {

      @extend .abs-bottom-left;
      opacity: 0.85;
      z-index: 8;
      margin: 5px;
      padding: 2px 5px;
      color: #f0f0f0;
      -webkit-text-stroke: 4px #111;
      paint-order: stroke fill;
      font-weight: 500;
      font-size: 13px;
    }

    .preview-edit-icon-overlay {
      @extend .abs-top-right;
      z-index: 8;
      margin: 5px;
      padding: 2px 5px;
      color: var(--text-inverse);
      background-color: rgba(var(--text-primary), 0.0);
      font-size: small;
      &:hover {
        background-color: var(--bg-hover);
        border-radius: 50%;
      }
    }
  
    .preview-media {
  
      @extend .abs-center;
  
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .preview-info-bar {

    @extend .v-align-center;
  
    font-size: small;
    font-weight: 500;
    display: flex;
    height: 24px;
    width: 100%;
    padding-top: 1px;
  
    background-image: linear-gradient(to right, var(--border-primary), var(--bg-primary));
    color: var(--text-primary);
  
    .media-title {
      padding-left: constants.$spacing-s;
      flex-grow: 1;
      float: left;
      
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .media-date {
      @extend .pr-1;
      min-width: 85px;
      flex-grow: 0;
      text-align: right;
      float: right;
      font-size: small;
      font-weight: 400;
      color: var(--text-tertiary);
    }
  }
}










