@use 'src/App.scss' as *;

.fragments-container {

  background-color: var(--bg-tertiary);
  position: relative;
  overflow: scroll;

  .fragments-header {

    @extend .v-align-center;

    display: flex;
    padding: 2px 6px;
    background-image: linear-gradient(to right, var(--bg-hover), var(--bg-primary));
    font-weight: 500;
    color: var(--text-primary);
  }

  .fragment {

    padding: 0;
    position: relative;
    float: left;

    .fragment-info-panel {
      z-index: 5;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: scroll;
      background-color: var(--bg-primary);
    }

    video {
      z-index: 1;
      width: 100%;
      height: auto;
      float: left;
      margin: 0;
      padding: 0;
    }

    .new-fragment {
      padding: 8px;
      text-align: center;
      font-size: large;
      color: white;
      background-color: blue;
    }

    &:last-child {
      width: calc(100% - 8px);
    }

    .delete-fragment-icon {

      @extend .action-icon-small, .abs-top-right;

      margin: $spacing-s;
      margin-top: $spacing-xs;
    }
  }

  .fragment-not-selected {
    margin: 4px 4px 0px 4px;

    &:last-child {
      margin-bottom: 4px;
    }
  }

  .fragment-selected {
    margin: 0 ! important;
    border: 4px solid yellow ! important;

    &:last-child {
      width: 100% ! important;
    }
  }
}