@import 'src/css/Constants.scss';
@import 'src/css/Layout.scss';
@import 'src/css/Defaults.scss';

.root {
  --text-bg-color: white;
  --text-fg-color: black;
}

.app-root {
  width: 100vw;
  padding: 0px;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.duration-overlay {

  @extend .abs-bottom-left;
  z-index: 8;
  margin: 5px;
  padding: 2px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: small;
}

.action-icon-small {

  @extend .hover-pointer;

  z-index: 3;
  width: 20px;
  height: 20px;
}

.action-icon-medium {

  @extend .hover-pointer;

  width: 24px;
  height: 24px;
}

.button-primary {

  @extend .hover-pointer;

  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  background-color: $highlight-a;
  border: 1px solid $highlight-a;

  &:hover {
    background-color: $secondary-a;
    border-color: $secondary-a;
  }
}