@import 'src/css/Constants.scss';
@import 'src/css/Layout.scss';

// overriding bootstrap defaults
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px
) !default;

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input {
  padding: 4px;
}

// -- Common elements

.text-input {
  outline: none;
  border-radius: $spacing-1;
  border: 1px solid $gray-400;
  &:focus {
    border-color: rgb(128, 189, 255);
    outline: solid rgba(128, 189, 255, 0.4);
  }
}

input {
  @extend .text-input;
}

textarea {
  @extend .text-input;
}

.full-width {
  width: 100%;
}

.amony-root {
  width: 100vw;
  padding: 0px;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.modal-dialog {
  min-width: 500px;
  padding: 28px;
  background-color: white;
  border-radius: 5px;
}

.duration-overlay {

  @extend .abs-bottom-left;
  margin: 5px;
  z-index: 8;
  padding: 2px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: small;
}

.action-icon-small {

  @extend .hover-pointer;

  z-index: 3;
  width: 20px;
  height: 20px;
}

.action-icon-medium {

  @extend .hover-pointer;

  width: 24px;
  height: 24px;
}

.button-primary {

  @extend .hover-pointer;

  padding: 8px 12px;
  border-radius: 5px;
  color: white;
  background-color: $highlight-a;
  border: 1px solid $highlight-a;

  &:hover {
    background-color: $secondary-a;
  }
}

.info-button {

  @extend .action-icon-small;
}