@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'src/App';

.nav-button {
  background-color: $gray-400 ! important;
  border-color: $gray-500 ! important;
}

.nav-menu-button {
  width: 28px;
  height: 28px;
  margin-top: 3px;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
  //margin: 0;
}

.top-nav-bar {

  z-index: 10;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: white;
  padding: 4px 4px !important;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    background: linear-gradient(to left, $gray-100, $gray-300 50%, $gray-100 100%);
    //background-color: $gray-200;
    padding: 6px 4px !important;
  }

  .filter-menu-button {

    @extend .nav-button;

    position: relative;
    float: left;
    padding: 2px 5px !important;
    width: 31px ! important;

    img {
      width: 23px;
      height: 23px;
    }

    &:after {
      content: none ! important;
    }
  }
}

.nav-bar-spacer {
  flex-grow: 0;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    flex-grow: 1;
  }

  padding: 0px 0px;
}

.nav-bar-center {
  display: flex;
  vertical-align: middle;
  z-index: 9;
  flex-grow: 2;
  max-width: 700px;
}

.home-button {

  @extend .nav-button;

  float: left;
  flex-grow: 0;
  padding: 0px 5px !important;
  width: 32px ! important;
  border-radius: 0 ! important;

  img {
    width: 23px;
    height: 23px;
    margin: 0px;
  }
}

.tag-list-dropdown {

  flex-grow: 0;
  position: relative;
  float: left;

  .tag-list-toggle {
    @extend .nav-button;
    border-radius: 0 ! important;
  }

  .tag-list-menu {
    border-radius: 0 ! important;
  }

  &:not(.show) {
    button {
      box-shadow: none ! important;
    }
  }
}

.nav-search-form {

  position: relative;
  float: left;
  flex-grow: 1;

  .nav-search-input {

    position: relative;
    flex-grow: 1;

    input {
      //border: none ! important;
      border-left: none;
      border-right: none;
      border-radius: 0 ! important;
      border-color: $gray-400 ! important;
      width: 100% ! important;
    }

    .nav-clear-input {
      position: absolute;
      right: 5px;
      top: 6px
    }
  }
}
