@import '~bootstrap/scss/bootstrap.scss';

.config-menu-button {

  flex-grow: 0;
  float: left;
  background-color: #d8d4d4 ! important;
  border-color: darkgray ! important;
  padding: 2px 5px !important;
  height: 31px ! important;
}

.config-menu {
  margin-top: 4px !important;
  padding: 0px ! important;

  width: calc(100vw - 8px);

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    width: 500px;
  }

  .config-title {

    @extend .ml-sm-3, .ml-2, .mr-sm-3, .mr-2, .mt-2, .pb-2;

    border-bottom: #d8d4d4 1px solid;
    font-size: large;
    font-weight: bold;
  }
}

.config-form {

  @extend .mt-2, .m-sm-3, .m-2;

  display: table;
  table-layout: fixed;

  .form-section {

    display: table-row;

    .form-label {
      width: 170px;
      @extend .pr-3;
      display: table-cell;
      vertical-align: middle;
    }

    .form-content {
      vertical-align: middle;
      display: table-cell;
    }
  }
}

