@import '../App.scss';

.gallery {
  position: relative;
  margin-top: 37px;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    margin-top: 45px;
  }

  margin-bottom: 2px;
  width: 100vw;
  border: 0px;
}

.gallery-container {
  display: flex;
  background-color: white;
}

.grid-cell {
  --grid-width: calc(100vw / var(--ncols));
  width: var(--grid-width);
  position: relative;
  float: left;
  padding: 2px;
}


/* The Modal (background) */
.video-modal-container {

  @extend .full-screen;

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  overflow: hidden;

  .video-modal-background {

    @extend .full-screen;

    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }

  .video-modal-content {

    @media (max-width: 768px) {
      position: absolute;
      left: 0px;
      top: 38px ! important;
      width: 100vw;
    }

    @media (min-width: 769px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    z-index: 20;
    margin: 0; /* 15% from the top and centered */
    padding: 0;
    //border: 1px solid black;
    box-shadow: -20px -20px 40px rgba(0, 0, 0, 0.3),
                -20px 20px 40px rgba(0, 0, 0, 0.3),
                 20px -20px 40px rgba(0, 0, 0, 0.3),
                 20px 20px 40px rgba(0, 0, 0, 0.3);
  }
}

