@import '../App.scss';

.gallery-container {

  width: 100%;
  overflow: auto;
  padding-left: var(--grid-spacing);
  padding-right: var(--grid-spacing);
  margin-top: 0px;
}

.grid-cell {

  width: calc(100% / var(--ncols));
  position: relative;
  float: left;
  padding: var(--grid-spacing);
}