@import '../App.scss';

.gallery-container {

  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

.grid-cell {

  width: calc(100% / var(--ncols));
  position: relative;
  float: left;
  padding: 2px;
}



