@import '../App.scss';

.gallery-container {

  width: 100%;
  padding: var(--grid-spacing);
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {

  width: calc((100% / var(--ncols)));
  padding: var(--grid-spacing);
  overflow: hidden;
}