@import '../App.scss';

.gallery-container {

  width: 100%;
  padding-left: var(--grid-spacing);
  padding-right: var(--grid-spacing);
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {

  width: calc((100% / var(--ncols)));
  padding: var(--grid-spacing);
  overflow: hidden;
}