@import 'src/App.scss';

$row-height: 36px;

.list-container {
  width: 100%;
  height: auto;
  display: table;

  .action-icon {
      
    @extend .hover-pointer;
    width: 20px;
    height: 20px;
  }

  .list-header {
    
    @extend .hover-pointer;

    position: sticky;
    position: -webkit-sticky;
    top: 0px;

    font-weight: 500;
    padding: 12px 8px !important;

    .column-sort-icon {
      visibility: hidden;
      float: right;
    }
  }

  .row-spacer {
    height: 5px !important;
  }

  .list-row {
    display: table-row;
    height: $row-height;

    .hover-action {
      visibility: hidden;
      position: absolute;
      right: 0px;
    }

    .add-tag-button {
      visibility: hidden;
    }

    .media-actions {
      @extend .hover-action, .v-align-center;
      display: flex;
      gap: $spacing-2;
      padding-left: $spacing-3;
      background-color: $gray-100;
      height: 100%;

      .fragments-action {
        @extend .hover-pointer;
        width: 24px;
        height: 24px;
      }

      .delete-action {
        @extend .hover-pointer;
        width: 24px;
        height: 24px;
      }
    }

    .edit-title {
      @extend .hover-pointer;
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: $gray-100;

      .hover-action {
        visibility: visible;
      }

      .add-tag-button {
        visibility: visible;
      }

      .column-sort-icon {
        visibility: visible;
      }
    }

    .cell-wrapper {

      @extend .v-align-center;

      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
    }

    .list-select {
      width: 1%;
      padding-left: 16px !important;
    }

    .list-thumbnail {
      width: 1%;
      .list-thumbnail-img {
        @extend .hover-pointer;
        align-items: center;
        vertical-align: middle;
        width: 64px;
        height: 36px; 
      }
    }

    .list-resolution {
      width: 1%;
    }

    .list-date {
      width: 1%;
      white-space: nowrap;
    }

    .list-size {
      text-align: right;

    }

    .list-title {
      width: 40%;

      .edit-title-input {
        width: calc(100% - 28px);
        padding: 4px;
      }
    }

    .list-tags {
      width: 50%;

      .add-tag-action {
        @extend .hover-action, .action-icon;
        width: 24px;
        height: 24px;
      }

      .new-tag {
        position: absolute;
        right: 5px;
        min-width: 25px;

        padding: 6px 10px;
        border-radius: 25px;
        border: 1px solid $highlight-e;
      }
    }

    .list-actions {

      width: 1%;

      .actions-container {
        width: 50px;

        .delete-action {
          @extend .hover-pointer, .action-icon;
          float: right;
          margin-left: 5px;
        }
      }
    }

    .list-cell {
      @extend .v-align-center;

      position: relative;
      display: table-cell;

      white-space: nowrap;

      border-bottom: 1px solid $gray-200;
      padding: 0px 8px;
      height: $row-height;
    }
  }
}
