@import 'src/App.scss';

.list-container {
  width: 100%;
  height: auto;
  display: table;

  .list-header-row {
    display: table-header-group;
  }

  .list-header {
    
    position: sticky;
    position: -webkit-sticky;
    top: 0px;

    font-weight: bold;
    padding: 8px 8px !important;

    .column-sort-icon {

      position: absolute;
      top: 8px;
      right: 5px;
    }
  }

  .row-spacer {
    height: 5px !important;
  }

  .list-row {
    display: table-row;
    height: 24px;

    .list-select {
      width: 1%;
      padding-left: 16px !important;
    }

    .list-thumbnail {
      width: 1%;
      .list-thumbnail-img {
        @extend .hover-cursor;
        align-items: center;
        vertical-align: middle;
        width: 48px;
        height: 27px; 
      }
    }

    .list-resolution {
      width: 1%;
    }

    .list-date {
      width: 1%;
      white-space: nowrap;
    }

    .list-title {
      width: 50%;
    }

    .list-tags {
      width: 50%;
    }

    .list-cell {

      border-bottom: 1px solid $gray-200;
      padding: 0px 8px;
      height: 30px;
      display: table-cell;
      align-items: center;
      vertical-align: middle;
    }
  }
}
