@import 'src/App.scss';

.login-container {
  padding: 28px;
  background-color: white;
  width: 400px;
  
  border-radius: 5px;
  border: 1px solid black;

  form {
    display: grid; 
    align-items: center;
    grid-auto-columns: auto;
    grid-auto-rows: minmax(45px, auto);
  }

  .username-header {
    grid-row: 1;
    grid-column: 1;
  }

  .username-input {
    grid-row: 1;
    grid-column: 2;
  }

  .password-header {
    grid-row: 2;
    grid-column: 1;
  }

  .password-input {
    grid-row: 2;
    grid-column: 2;
  }

  .feedback-message {
    grid-row: 3;
    grid-column: 1/3;
  }

  .login-button {
    grid-row: 3;
    grid-column: 3;
    text-align: right;

    button {
      @extend .button-primary;
    }
  }
}

.login-header {
  @extend .mt-0, .pb-3, .mb-4;

  border-bottom: 1px solid $gray-300;
}

