@import 'src/App.scss';
@import './shared/Modal.scss';

.info-panel {

  @extend .default-modal-dialog;

  width: 500px;

  background-color: white;
  border: 1px solid lightgray;
  font-size: normal;

  .title-input {
    width: 100%;
    padding: 8px;
  }

  .comment-input {
    width: 100%;
    padding: 8px;
    height: 80px;
  }

  .info-panel-title {
    font-size: normal;
    font-weight: 600;
    margin: 8px 2px;
  }

  .info-panel-content {
    margin: 8px 8px;
    padding: 8px 0px;
  }

  .info-save-button {
    @extend .hover-cursor;
    width: 24px;
    height: 24px;
  }
}