@import '../App.scss';

.preview-media {

  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .preview-media-container {

    position: relative;
    width: 100%;
    overflow: hidden;
    // 9 / 16 ratio
    padding-top: 56.25%; 
    z-index: 4;
  
    .preview-overlay {
        z-index: 7;
  
      .preview-menu-icon {
  
        @extend .abs-top-right;
        margin: 5px;
        z-index: inherit;
      }
    }
  
    .preview-thumbnail {
      z-index: 5;
    }
  
    .preview-video {
      z-index: 6;
      margin: 0px;
    }
  
    .preview-media {
  
      @extend .abs-center;
  
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  .preview-menu {
  
    @extend .abs-top-right;
  
    margin-top: 3px;
  
    .menu-icon {
      float: left;
      margin-right: 10px;
    }
  
    .menu-item {
      padding-left: 10px !important;
    }
  }

  .preview-info-bar {

    @extend .v-align-center;
  
    font-size: small;
    font-weight: 600;
    display: flex;
    height: 22px;
    width: 100%;
    padding-top: 1px;
  
    background-image: linear-gradient(to right, #dcdcdc, #ffffff);
    color: #233453;
  
    .media-title {
      flex-grow: 1;
      padding-left: $spacing-2;
      float: left;
      
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .media-date {
      @extend .pr-1;
      min-width: 85px;
      flex-grow: 0;
      text-align: right;
      float: right;
      font-size: small;
      font-weight: 400;
      color: #555;
    }
  }
}










