@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);
@import '~bootstrap/scss/bootstrap.scss';
@import '../App.scss';

.nav-button {
  background-color: $gray-400 ! important;
  border-color: darkgray ! important;
}

.top-nav-bar {

  z-index: 10;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: white;
  padding: 4px 4px !important;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    background: linear-gradient(to left, #f5f5f9, #fff 50%, #f5f5f9 100%);
    padding: 6px 4px !important;
  }

  .filter-menu-button {

    @extend .nav-button;

    position: relative;
    float: left;
    padding: 2px 5px !important;
    width: 31px ! important;

    img {
      width: 23px;
      height: 23px;
    }

    &:after {
      content: none ! important;
    }
  }
}

.nav-bar-spacer {
  flex-grow: 0;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    flex-grow: 1;
  }

  padding: 8px 0px;
}

.nav-bar-center {
  display: flex;
  vertical-align: middle;
  z-index: 9;
  flex-grow: 2;
}

.home-button {

  @extend .nav-button;

  float: left;
  flex-grow: 0;
  padding: 0px 5px !important;
  width: 32px ! important;

  img {
    width: 23px;
    height: 23px;
    margin: 0px;
  }
}

.tag-list-dropdown {

  @extend .mr-1;

  flex-grow: 0;
  position: relative;
  float: left;

  .tag-list-toggle {
    @extend .nav-button;
  }

  &:not(.show) {
    button {
      box-shadow: none ! important;
    }
  }
}

.nav-search-form {

  position: relative;
  float: left;
  flex-grow: 1;

  .nav-search-input {

    @extend .mr-1;

    position: relative;
    flex-grow: 1;

    input {
      width: 100% ! important;
    }

    .nav-clear-input {
      position: absolute;
      right: 5px;
      top: 6px
    }
  }
}
