@import 'src/App.scss';

//index.module.css
.my-dropdown-container {
  display: inline-flex;
  position: relative;
  flex-direction: column;
}

.my-dropdown-toggle {
  position: relative;
  cursor: pointer;
}

.my-dropdown-toggle > .my-dropdown-arrow {
  margin-left: 5px;
}

.my-dropdown-content-container {
  position: relative;

  .my-dropdown-content {
    position: absolute;
    top: 5px;
    transition: height 1s ease;
    min-width: 100px;
    min-height: 100px;
  }
}

.my-dropdown-menu {
  @extend .hover-cursor;
  background-color: white;
  border-radius: 5px;
  padding: 5px 0px;
  transition: height 1s ease;
  border: 1px solid $gray-400;
  a {
    text-decoration: none !important; 
    // &:hover {
    //   text-decoration: none;
    // }
  }
}

.menu-item-selected {
  background-color: $secondary-a !important;
}

.my-dropdown-menu-item {

  @extend .hover-cursor;
  display: flex;
  align-items: center;
  font-size: normal;
  padding: 6px 12px;
  color: black;

  &:hover {
    background-color: $secondary-a;
  }
}
