.tag-container {

  margin-top: 4px;
  display: flex;

  .new-tag {

    margin: 8px 2px 2px 2px;
    float: left;

    span {
      color: black;
      background-color: #62db89;
      border: 1px solid #007b15;
      padding: 5px 12px;
      border-radius: 25px;
      font-size: normal;
      text-align: center;
      //width: auto;
      min-width: 100px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tag {
    margin: 2px;
    display: flex;
    align-items: center;
    float: left;
    color: black;
    font-size: normal;
    padding: 5px 8px 5px 12px;
    // padding: 3px 5px 3px 8px;
    border: 1px solid blue;
    border-radius: 25px;
    background-color: #b9daff;

    img.delete-tag {
      vertical-align: middle;
      margin: 0px;
      margin-left: 5px;
      height: 18px;
      width: 18px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

