@import 'src/App.scss';

.tag-container {

  display: flex;

  .new-tag {
    
    display: flex;
    margin: 2px;
    float: left;
    align-items: center;

    span {
      color: white;
      background-color: $highlight-e;
      border: 1px solid $secondary-e;
      padding: 6px 12px;
      border-radius: 25px;
      font-size: small;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tag {
    // height: 28px;
    margin: 2px;
    display: flex;
    align-items: center;
    float: left;
    color: black;
    background-color: $gray-300;
    border: 1px solid $gray-500;
    font-size: small;
    padding: 4px 8px 4px 12px;
    // padding: 3px 5px 3px 8px;
    border-radius: 25px;

    .delete-tag {
      vertical-align: middle;
      margin: 0px;
      margin-left: 5px;
      height: 18px;
      width: 18px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

