$spacing-xs: 2px;
$spacing-s: 5px;
$spacing-m: 12px;
$spacing-l: 24px;
$spacing-xl: 40px;

$page-header-height: 47px;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px
) !default;