@use './Constants.scss' as constants;

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// -- Common elements

.text-input {
  outline: none;
  border-radius: constants.$spacing-xs;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  &:focus {
    border-color: var(--border-focus);
    outline: solid rgba(128, 189, 255, 0.4);
  }
}

input[type="text"] {
  @extend .text-input;
}

input[type="password"] {
  @extend .text-input;
}

textarea {
  @extend .text-input;
}