@use './Constants.scss' as constants;

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.abs-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.abs-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.abs-top-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.v-align-center {
  align-items: center;
  vertical-align: middle;
}

// --- Margin

.m-0 { margin: 0px; }
.mt-0 { margin-top: 0px; }
.mr-0 { margin-right: 0px; }
.mb-0 { margin-bottom: 0px; }
.ml-0 { margin-left: 0px; }

.m-1 { margin: constants.$spacing-1; }
.mt-1 { margin-top: constants.$spacing-1; }
.mr-1 { margin-right: constants.$spacing-1; }
.mb-1 { margin-bottom: constants.$spacing-1; }
.ml-1 { margin-left: constants.$spacing-1; }

.m-2 { margin: constants.$spacing-2; }
.mt-2 { margin-top: constants.$spacing-2; }
.mr-2 { margin-right: constants.$spacing-2; }
.mb-2 { margin-bottom: constants.$spacing-2; }
.ml-2 { margin-left: constants.$spacing-2; }

.m-3 { margin: constants.$spacing-3; }
.mt-3 { margin-top: constants.$spacing-3; }
.mr-3 { margin-right: constants.$spacing-3; }
.mb-3 { margin-bottom: constants.$spacing-3; }
.ml-3 { margin-left: constants.$spacing-3; }

.m-4 { margin: constants.$spacing-4; }
.mt-4 { margin-top: constants.$spacing-4; }
.mr-4 { margin-right: constants.$spacing-4; }
.mb-4 { margin-bottom: constants.$spacing-4; }
.ml-4 { margin-left: constants.$spacing-4; }

// --- Padding

.p-0 { padding: 0px; }
.pt-0 { padding-top: 0px; }
.pl-0 { padding-left: 0px; }
.pb-0 { padding-bottom: 0px; }
.pr-0 { padding-right: 0px; }

.p-1 { padding: constants.$spacing-1; }
.pt-1 { padding-top: constants.$spacing-1; }
.pl-1 { padding-left: constants.$spacing-1; }
.pb-1 { padding-bottom: constants.$spacing-1; }
.pr-1 { padding-right: constants.$spacing-1; }

.p-2 { padding: constants.$spacing-2; }
.pt-2 { padding-top: constants.$spacing-2; }
.pl-2 { padding-left: constants.$spacing-2; }
.pb-2 { padding-bottom: constants.$spacing-2; }
.pr-2 { padding-right: constants.$spacing-2; }

.p-3 { padding: constants.$spacing-3; }
.pt-3 { padding-top: constants.$spacing-3; }
.pl-3 { padding-left: constants.$spacing-3; }
.pb-3 { padding-bottom: constants.$spacing-3; }
.pr-3 { padding-right: constants.$spacing-3; }

.p-4 { padding: constants.$spacing-4; }
.pt-4 { padding-top: constants.$spacing-4; }
.pl-4 { padding-left: constants.$spacing-4; }
.pb-4 { padding-bottom: constants.$spacing-4; }
.pr-4 { padding-right: constants.$spacing-4; }