@use 'src/App.scss' as *;

.dialog-overlay {
  @extend .full-screen, .abs-top-left;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  z-index: 499;
}

.dialog-content {
  &:focus {
    outline: none;
  }

  z-index: 500;

  @media (max-width: 768px) {
    position: fixed;
    inset: 0;
  }

  @media (min-width: 769px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dialog-content-window {
  @extend .dialog-content;
  width: 50%;
  height: 75%;
  //max-width: 90vw;
  //max-height: 90vh;
  overflow-y: auto;
}
