@use 'src/App.scss' as *;

//index.module.css
.dropdown-container {
  position: relative;
  z-index: inherit;
}

.dropdown-toggle {
  // position: relative;
  cursor: pointer;
}

.dropdown-toggle > .dropdown-arrow {
  margin-left: 5px;
}

.dropdown-content-container {
  position: relative;
  z-index: inherit;

  .dropdown-content {
    position: absolute;
    top: 5px;
    transition: height 1s ease;
  }
}

.dropdown-menu {
  @extend .hover-pointer;
  
  background-color: var(--bg-primary);
  border-radius: 5px;
  padding: 5px 0px;
  transition: height 1s ease;
  border: 1px solid var(--border-primary);

  min-width: 100px;
  max-width: 500px;
  min-height: 100px;

  a {
    text-decoration: none !important; 
  }
}

.menu-item-selected {
  background-color: var(--secondary-a) !important;
}

.dropdown-menu-item {

  @extend .hover-pointer, .v-align-center;
  display: flex;
  font-size: normal;
  padding: 6px 12px;
  color: var(--text-primary);

  &:hover {
    color: var(--text-inverse);
    background-color: var(--secondary-a);
  }
}
