@use 'src/App.scss' as *;

.tag-container {

  display: flex;
  user-select: none;

  .new-tag {
    
    // margin: 2px;
    // float: left;
    @extend .v-align-center;
    margin-top: 3px;

    span {
      @extend .v-align-center;
      color: var(--text-inverse);
      background-color: var(--highlight-e);
      border: 1px solid var(--secondary-e);
      min-width: 50px;


      padding: 6px 10px;
      border-radius: 25px;
      font-size: small;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tag {
    // height: 28px;
    @extend .v-align-center;
    display: flex;
    position: relative;
    text-align: center;
    margin-right: 4px;
    float: left;
    color: var(--text-primary);
    background-color: var(--bg-hover);
    border: 2px solid var(--border-primary);
    font-size: small;
    padding: 6px 12px;
    border-radius: 25px;

    &:hover {
      .delete-tag {
        visibility: visible;
      }
    }

    .delete-tag {

      border-radius: 16px;
      background-color: var(--bg-primary);
      position: absolute;
      right: 1px;
      visibility: hidden;
      vertical-align: middle;
      border: 1px solid var(--text-primary);
      margin: 0px;
      // margin-top: 1px;
      padding-top: 1px;
      height: 22px;
      width: 22px;
      color: var(--text-primary);
      opacity: 60%;

      &:hover {
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}

