@use 'src/App.scss' as *;

.fragment-info-panel {

  padding: 5px;
  user-select: none;

  .tags-button {
    @extend .abs-top-left, .action-icon-small;
    margin: $spacing-2;
  }

  .meta-panel-title {
    font-size: small;
    font-weight: bold;
    padding-top: 1px;
    margin-bottom: $spacing-3;
  }

  .tag-list {
    margin-top: 8px;
  }

  .fragment-comment {

    padding: 2px 4px;
    width: calc(100% - 30px);
    margin-left: 30px;
  }
}