$highlight-a: #3F88C5;
$highlight-b: #DD4242;
$highlight-c: #FFBA08;
$highlight-d: #053E61;
$highlight-e: #45c53f;

$secondary-a: #81B2D9;
$secondary-d: #EA8686;
$secondary-c: #FFD15C;
$secondary-b: #096FAE;
$secondary-e: #9AC1AC;

$tertiary-a: #ea868688;
$tertiary-b: #81b1d988;
$tertiary-c: #ffd15ca8;
$tertiary-d: #096faea6;
$tertiary-e: #9ac1aca1;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$spacing-1: 2px;
$spacing-2: 5px;
$spacing-3: 10px;
$spacing-4: 18px;