@use 'src/App.scss' as *;

@import '@vidstack/react/player/styles/plyr/theme.css';

.video-background {

  @extend .full-screen;
  background-color: black;
}

.video-container {
  position: relative;
  float: left;

  .video-player {
    //--plyr-video-controls-background: black;
    --plyr-color-main: #508ed1;
    --plyr-border-radius: 0;

    width: 100%;
    height: 100%;

    // hack to hide the center play button
    > div > button.plyr__control--overlaid {
      display: none ! important;
    }

    video {
        width: 100%;
        height: 100%;
    }
  }
}

.overlay-button {
  @extend .v-align-center, .hover-pointer;
  font-size: small;
  padding: $spacing-s $spacing-m;
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.button-green {
  @extend .overlay-button;
  color: white;
  background-color: #45C53FFF;
}

.button-orange {
  @extend .overlay-button;
  background-color: #FFBA08FF;
}

.button-blue {
  @extend .overlay-button;
  color: white;
  background-color: #3F88C5FF;
}

.fragment-picker {

  display: flex;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;

  button {
    position: relative;
    float: left;
  }
}