@use 'src/App.scss' as *;
@use 'sass:map';

.main-page {
  width: 100%;
  display: flex;
  background-color: var(--bg-primary);
}

.main-content-container {
  width: 100%;
  position: relative;
  //margin-top: 37px;
  margin-bottom: 2px;
  border: none;

  //@media only screen and (min-width: map.get($container-max-widths, md)) {
  //  margin-top: 45px;
  //}

}
