@use './styles/tokens';
@use './styles/layout' as layout;
@use './styles/defaults';

@forward './styles/constants';
@forward './styles/layout';
@forward './styles/defaults';
@forward './styles/tabs';

.root {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.app-root {
  width: 100vw;
  padding: 0;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.duration-overlay {

  @extend .abs-bottom-right;
  opacity: 0.9;
  z-index: 8;
  margin: 5px;
  padding: 2px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: small;
}

.action-icon-small {

  @extend .hover-pointer;

  z-index: 3;
  width: 20px;
  height: 20px;
}

.action-icon-medium {

  @extend .hover-pointer;

  width: 24px;
  height: 24px;
}

.button-primary {

  @extend .hover-pointer;

  padding: 8px 12px;
  border-radius: 5px;
  color: var(--text-on-accent);
  background-color: var(--accent);
  border: 1px solid var(--accent);

  &:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
  }
}
