@import 'src/App.scss';

.modal-container {

  @extend .full-screen, .abs-top-left;

  position: fixed; 
  //z-index: 500!important;
  overflow: hidden;

  .modal-background {

    @extend .full-screen, .abs-top-left;
    position: fixed; 
    //z-index: 501!important;
    visibility: inherit;
    overflow: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {

    visibility: inherit;

    @media (max-width: 768px) {
      position: absolute;
      left: 0px;
      top: 0px ! important;
    }

    @media (min-width: 769px) {
      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    //z-index: 502!important;
  }
}