@import 'src/App.scss';

.video-modal-content {

  @media (max-width: 768px) {
    position: absolute;
    left: 0px;
    top: 0px ! important;
    width: 100vw;
  }

  @media (min-width: 769px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .plyr__controls {
    visibility: hidden;
  }

  .plyr__control--overlaid {
    visibility: hidden;
  }

  .plyr__preview-thumb__image-container {
    
    width: 240px ! important;
    // height: 160px ! important;;
  }

  &:hover {
    .plyr__controls {
      visibility: visible;
    }
  }

  z-index: 502;
  margin: 0; /* 15% from the top and centered */
  padding: 0;
  //border: 1px solid black;
  box-shadow: -20px -20px 40px rgba(0, 0, 0, 0.3),
  -20px 20px 40px rgba(0, 0, 0, 0.3),
  20px -20px 40px rgba(0, 0, 0, 0.3),
  20px 20px 40px rgba(0, 0, 0, 0.3);
}
