
// overriding bootstrap defaults
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
) !default;


.full-screen {
  width: 100vw;
  height: 100vh;
}

.full-width {
  width: 100% ! important;
  margin: 0 ! important;
}

.root {
  padding: 0px ! important;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.duration-overlay {
  z-index: 3;
  padding: 0px 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: small;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}

.bottom-left {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.menu-icon {

  &:hover {
    cursor: pointer;
  }

  z-index: 3;
  width: 20px;
  height: 20px;
}

.info-button {

  &:hover {
    cursor: pointer;
  }
}

@import '~bootstrap/scss/bootstrap.scss';