.full-width {
  width: 100% ! important;
  margin:0 ! important;
}

.gallery-row {

   margin-bottom: 15px;
}

.gallery-column {
  width: 459px ! important;
  padding-top: 0px ! important;
  padding-left: 15px ! important;
  padding-right: 0px ! important;
  padding-bottom: 0px ! important;
}

.gallery-column img {
  width: 459px ! important;
}

.gallery-column-first {
  padding: 0px ! important;
}

.gallery-column-first img {
  width: 459px ! important;
}


$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px
) !default;

@import '~bootstrap/scss/bootstrap.scss';