@use 'src/App.scss' as *;

.config-form {

  display: table;
  table-layout: fixed;

  .form-section {

    display: table-row;

    .form-label {
      
      @extend .v-align-center, .pr-3, .pb-3;

      display: table-cell;
      width: 170px;
    }

    .form-content {
      
      @extend .v-align-center, .pb-3;
      
      display: table-cell;

      button {
        @extend .hover-pointer;
      }

      input {
        @extend .hover-pointer;
      }

      .column-select {

        @extend .v-align-center;
        display: flex;

        * {
          @extend .mr-2;
        }
      }

      .theme-select {
        @extend .v-align-center;
        display: flex;

        .theme-option {
          @extend .mr-3, .hover-pointer;
          display: flex;
          align-items: center;

          input {
            @extend .mr-1;
          }
        }
      }
    }
  }
}

