@import 'node_modules/bootstrap/scss/bootstrap';
@import './TopNavBar.scss';

.config-menu {
  margin-top: 4px !important;
  border-radius: 0px ! important;
  padding: 0px ! important;
  border-color: $gray-200 ! important;

  width: calc(100vw - 8px);

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    width: 500px;
  }

  .config-title {

    @extend .ml-sm-3, .ml-2, .mr-sm-3, .mr-2, .mt-2, .pb-2;

    border-bottom: $gray-400 1px solid;
    font-size: large;
    font-weight: bold;
  }
}

.config-form {

  @extend .mt-2, .m-sm-3, .m-2;

  display: table;
  table-layout: fixed;

  .form-section {

    display: table-row;

    .form-label {
      @extend .pr-3, .pb-1;
      width: 170px;
      display: table-cell;
      vertical-align: middle;
    }

    .form-content {
      @extend .pb-1;
      vertical-align: middle;
      display: table-cell;
    }
  }
}

