@import 'src/App.scss';
@import '~normalize.css/normalize.css';

.my-sidebar {

  top: 0px;
  left: 0px;
  position: fixed !important;
  height: 100vh;
  border-right: 1px solid $gray-300;
  z-index: 200 ! important;
}

.sidebar-header {
  height: 47px;
  padding-bottom: 4px;
  border-bottom: none !important;
}

.sidebar-menu-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
  color: black !important;

  &:hover {
    cursor: pointer;
  }
}

.sidebar-footer {

  padding: 8px;

  a {
    margin-left: 3px;
    color: black;
    svg {
      width: 28px;
      height: 28px;
    }
  }
}

.pro-inner-item {
  padding-left: 8px ! important;
}

.pro-menu {

  padding-top: 0px !important;
}

.pro-icon {
  svg {
    width: 20px;
    height: 20px;
  }
}
// #cf6262, #81818b
$sidebar-bg-color: $gray-200 !default;
$sidebar-color: white !default;
$icon-bg-color: $highlight-a  !default;
$highlight-color: white !default;
$submenu-bg-color: $gray-500 !default;
$submenu-bg-color-collapsed: $gray-500 !default;
$icon-size: 35px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';