@use "sass:color";
@import 'src/App.scss';

.tag-bar {
  @extend .v-align-center;

  user-select: none;
  position: fixed;
  // float: left;
  width: 100%;
  background-color: var(--text-bg-color);
  border-bottom: 1px solid $gray-200;

  height: 44px;
  display: flex;

  // padding: 4px 5px;
  z-index: 9;

  .tags {
    @extend .v-align-center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .tag {
    @extend .hover-pointer;
    display: flex;
    text-align: center;
    margin: 0px 4px;
    color: black;
    background-color: $gray-300;
    border: 2px solid $gray-400;
    font-size: small;
    padding: 6px 12px;
    border-radius: 25px;

    &:hover {
      background-color: $gray-400;
      color: rgba(black, 0.8);
    }
  }

  .selected-tag {
    color: white;
    border-color: $gray-500;
    background-color: $gray-500 !important;
    &:hover {
      color: white;
    }
  }

  .custom-dropdown-toggle {
    border-radius: 25px !important;
    background-color: $gray-500 !important;
    border-color: $gray-500 !important;
    font-size: small !important;
    color: white;
    padding: 3px 10px;
    margin: 0px 4px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
  
    span {
      line-height: 23px;
    }
    svg {
      width: 21px;
      height: 21px;
    }
  }
}