@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);
@import 'src/App.scss';

.nav-menu-button {

  @extend .hover-pointer, .abs-top-left;

  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 5px;
  user-select: none;
}

$accent: rgb(83, 155, 36);

.toggle-tag-bar {

  @extend .hover-pointer;
  position: absolute;
  user-select: none;

  svg {
    width: 24px;
    height: 24px;
    color: $gray-600;
  }

  top: 6px;
  right: 6px;
}

.selected {
  svg {
    color: black !important;
  }
}

.nav-bar-container {

  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  .top-nav-bar {

    user-select: none;
    z-index: inherit;
    position: relative;
    float: left;
    display: flex;
    width: 100vw;
  
    background-color: white;
    border-bottom: 1px solid $gray-200;
  
    @media only screen and (min-width: map-get($container-max-widths, md)) {
      background-color: $gray-100;
    }
  }

  .nav-bar-spacer {
    flex-grow: 0;
  
    @media only screen and (min-width: map-get($container-max-widths, md)) {
      flex-grow: 1;
    }
  
    padding: 0px 0px;
  }

  .view-button-group {
    @extend .hover-pointer;
    background-color: $gray-300;    
    border: none;
    height: 35px;

    &:hover {
      background-color: $gray-400;
    }
  }
  
  .nav-bar-center {

    display: flex;
    vertical-align: middle;
    z-index: inherit;
    flex-grow: 2;
    max-width: 700px;
    padding: 6px 4px !important;

    @media only screen and (max-width: map-get($container-max-widths, md)) {
      margin-left: 45px;
    }

    .view-select-container {
      
      display: flex;
      float: left;
      vertical-align: middle;
      margin-left: 5px;

      .view-selected {
        background-color: $gray-500 !important;
        color: rgb(250, 250, 250);
      }

      .button-list-view {

        @extend .hover-pointer, .view-button-group;
        
        border-radius: 0px 3px 3px 0px;
        padding-top: 6px;

        svg {
          height: 26px;
          width: 26px;
        }
      }

      .button-grid-view {
        
        @extend .hover-pointer, .view-button-group;
        border-radius: 3px 0px 0px 3px;
        padding: 4px 8px 0px 8px;

        svg {
          height: 22px;
          width: 22px;
        }
      }
    }

    .nav-search-form {

      position: relative;
      float: left;
      flex-grow: 1;
      padding: 0px 2px 0px 5px;
    
      .nav-search-input-container {
    
        position: relative;
        flex-grow: 1;

        .playlist {
          @extend .v-align-center;
          
          position: absolute;
          display: flex;
          color: $gray-700;

          top: 5px;
          right: 5px;
          height: 25px;
          padding: 0px 5px;
          border: 1px dotted $gray-200;
          border-radius: 3px;
        }

        .search-icon {
          @extend .abs-top-left;
          z-index: 11 !important;
          width: 20px;
          height: 20px;
          margin-top: 8px;
          margin-left: 7px;
          color: $gray-700;
        }
    
        .nav-search-input {
          @extend .abs-top-left;
          width: 100%;
          height: 100%;

          outline: none;
          height: 35px !important;
          border-radius: 3px;
          border: 1px solid $gray-300;
          padding-left: 35px;
          &:focus {
            border-color: rgb(128, 189, 255);
            outline: solid rgba(128, 189, 255, 0.4);
          }
        }

        .filter-dropdown-container {
          @extend .abs-top-left;
          width: 100%;
          height: 100%;
          
          svg {
            @extend .abs-top-right;
            z-index: 12 !important;
            margin: 6px;
            // margin-top: 40px;
            width: 24px;
            height: 24px;
          }

          .filter-dropdown-content {

            display: flex;
            flex-direction: column;
            z-index: 11 !important;

            border-radius: 0px 0px 3px 3px;
            border: 1px solid $gray-300;
            border-top: none;
            // margin-top: 5px;
            width: 100%;
            background-color: var(--text-bg-color);

            .filter-container {
              padding: 15px 20px 20px 20px;
              display: flex;
              gap: 20px;
              
              .filter-section {
                display: flex;
                flex-direction: column;

                .section-header {
                  font-size: medium;
                  font-weight: 500;
                  padding-bottom: 8px;
                  margin-bottom: 12px;
                  border-bottom: 1px solid $gray-300;
                }

                .filter-option {
                  @extend .v-align-center;
                  gap: 10px;
                  display: flex;
                }
              }
            }
          }
        }
    
        .nav-clear-input {
          @extend .hover-pointer;
          position: absolute;
          width: 24px;
          height: 24px;
          right: 6px;
          top: 6px;
          color: rgba(0, 0, 0, 0.6);

          &:hover {
            color: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }
  }
}






