@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);
@import 'src/App.scss';

.nav-menu-button {

  @extend .hover-cursor;
  position: absolute;
  top: 0px;
  left: 0px;

  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 5px;
  user-select: none;
}

$accent: rgb(83, 155, 36);

.toggle-tag-bar {

  @extend .hover-cursor;
  position: absolute;
  user-select: none;

  svg {
    width: 24px;
    height: 24px;
    color: $gray-600;
  }

  top: 6px;
  right: 6px;
}

.selected {
  svg {
    color: black !important;
  }
}

.custom-dropdown-toggle {
  border-radius: 25px !important;
  background-color: $highlight-b !important;
  border-color: $highlight-b !important;
  font-size: small !important;
  color: white !important;
  padding: 6px 12px !important;
  margin: 0px 4px;
}

.tag-bar {
  user-select: none;
  position:relative;
  float:left;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid $gray-200;
  align-items: center;

  height: 44px;
  display: flex;

  padding: 4px 5px;
  z-index: 10;

  .tags {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;

    z-index: 9;
    flex-grow: 1;
  }

  .tag {
    @extend .hover-cursor;
    display: flex;
    text-align: center;
    float: left;
    margin: 0px 4px;
    color: black;
    font-size: small;
    padding: 5px 12px;
    border: 1px solid $gray-500;
    border-radius: 25px;
    background-color: $gray-300;
  }

  .selected-tag {
    border: 2px solid $highlight-b;
  }
}

.nav-bar-container {

  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.top-nav-bar {

  user-select: none;
  z-index: 10;
  position: relative;
  float: left;
  display: flex;
  width: 100vw;

  background-color: white;
  border-bottom: 1px solid $gray-200;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    background-color: $gray-100;
  }
}

.nav-bar-spacer {
  flex-grow: 0;

  @media only screen and (min-width: map-get($container-max-widths, md)) {
    flex-grow: 1;
  }

  padding: 0px 0px;
}

.nav-bar-center {
  display: flex;
  vertical-align: middle;
  z-index: 9;
  flex-grow: 2;
  max-width: 700px;
  padding: 6px 4px !important;
}

.nav-search-form {

  position: relative;
  float: left;
  flex-grow: 1;
  padding: 0px 2px 0px 5px;

  .nav-search-input-container {

    position: relative;
    flex-grow: 1;

    .nav-search-input {
      outline: none;
      height: 35px !important;
      border-radius: 3px ! important;
      border: 1px solid $gray-400;
      width: 100% ! important;
      padding-left: 8px;
      &:focus {
        border-color: rgb(128, 189, 255);
        outline: solid rgba(128, 189, 255, 0.4);
      }
    }

    .nav-clear-input {
      position: absolute;
      right: 0px;
      top: 0px
    }
  }
}
