@use 'src/App.scss' as *;

.filter-dropdown-content {
  display: flex;
  flex-direction: column;
  z-index: 250;
  border-radius: 3px;
  margin-left: -10px;
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-secondary);
  color: var(--text-primary);

  .filter-container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    .filter-section {
      display: flex;
      flex-direction: column;

      .section-header {
        font-size: medium;
        font-weight: 500;
        padding-bottom: 8px;
        margin-bottom: 12px;
        border-bottom: 1px solid var(--border-secondary);
      }

      .filter-option {
        @extend .hover-pointer;
        padding: 3px 4px;
        border-radius: 3px;
        display: inline-block;
        white-space: nowrap;

        input {
          margin-right: 8px;
        }

        label {
          margin-left: var(--spacing-m);
        }

        &:hover {
          background-color: var(--bg-tertiary);
        }

        .random-refresh-icon {
          margin-left: 8px;
          cursor: pointer;
          vertical-align: top;
          width: 20px;
          height: 20px;
          display: inline-block;

          &:hover {
            color: var(--text-primary);
          }
        }
      }
    }
  }
}
