@use "sass:color";
@use 'src/App.scss' as *;

.tag-bar {
  @extend .v-align-center;

  user-select: none;
  position: fixed;
  // float: left;
  width: 100%;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-secondary);

  height: 44px;
  display: flex;

  // padding: 4px 5px;
  z-index: 9;

  .tag-bar-total {
    font-size: 12px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: var(--text-secondary);
    margin-right: 10px;
    margin-bottom: 4px;
  }

  .tags {
    @extend .v-align-center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .tag {
    @extend .hover-pointer;
    display: flex;
    text-align: center;
    margin: 0px 4px;
    color: var(--text-primary);
    background-color: var(--bg-hover);
    border: 2px solid var(--border-primary);
    font-size: small;
    padding: 6px 12px;
    border-radius: 25px;

    &:hover {
      background-color: var(--bg-active);
      color: var(--text-primary);
    }
  }

  .selected-tag {
    color: var(--text-inverse);
    border-color: var(--bg-active);
    background-color: var(--bg-active) !important;
    &:hover {
      color: var(--text-inverse);
    }
  }

  .custom-dropdown-toggle {
    border-radius: 25px !important;
    background-color: var(--bg-active) !important;
    border-color: var(--bg-active) !important;
    font-size: small !important;
    color: var(--text-inverse);
    padding: 3px 10px;
    margin: 0px 4px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
  
    span {
      line-height: 23px;
    }
    svg {
      width: 21px;
      height: 21px;
    }
  }
}