@use 'src/App.scss' as *;
@use 'sass:map';

.nav-bar-container {

  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  .top-nav-bar {

    user-select: none;
    z-index: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
  
    background-color: $gray-100;
    height: 47px;
  
    @media only screen and (min-width: map.get($container-max-widths, md)) {
      background-color: $gray-100;
    }
  }

  .profile-button {
    @extend .hover-pointer;
    position: absolute;
    right: 0px;
    width: 34px;
    height: 34px;
    padding: 3px;
    margin: 5px;
  }

  .nav-bar-center {

    display: flex;
    vertical-align: middle;
    
    z-index: inherit;
    flex-grow: 1;
    max-width: 700px;
    padding: 6px 4px !important;

    @media only screen and (max-width: map.get($container-max-widths, md)) {
      margin-left: 45px;
    }

    .nav-menu-button {

      @extend .hover-pointer;

      width: 34px;
      height: 34px;

      //background-color: $gray-300;
      border: none;
      border-radius: 3px;
      color: $gray-800;

      &:hover {
        background-color: $gray-300;
      }

      padding: 3px;

      //margin-bottom: 0px;
      //margin-top: 4px;
      //margin-left: 12px;
      user-select: none;
    }



    .view-select-container {
      
      display: flex;
      vertical-align: middle;
      margin-left: 5px;

      .view-selected {
        background-color: $gray-500 !important;
        color: rgb(250, 250, 250);
      }

      .view-button {
        @extend .hover-pointer;
        background-color: $gray-300;    
        border: none;
        height: 35px;
    
        &:hover {
          background-color: $gray-400;
        }
      }

      .button-list-view {

        @extend .view-button;
        
        border-radius: 0px 3px 3px 0px;
        padding-top: 6px;

        svg {
          height: 26px;
          width: 26px;
        }
      }

      .button-grid-view {
        
        @extend .view-button;
        border-radius: 3px 0px 0px 3px;
        padding: 4px 8px 0px 8px;

        svg {
          height: 22px;
          width: 22px;
        }
      }
    }

    .nav-search-form {

      position: relative;
      flex-grow: 1;
      padding: 0px 2px 0px 5px;
    
      .nav-search-input-container {
    
        position: relative;

        .search-icon {
          @extend .abs-top-left;
          z-index: 11 !important;
          width: 20px;
          height: 20px;
          margin-top: 8px;
          margin-left: 7px;
          color: $gray-700;
        }
    
        .nav-search-input {
          @extend .abs-top-left;
          width: 100%;
          height: 100%;

          outline: none;
          height: 35px !important;
          border-radius: 3px;
          border: 2px solid $gray-300;
          padding-left: 35px;
          &:focus {
            border-color: $gray-500;
            outline: solid $gray-200;
            outline-width: 3px;
          }
        }

        .nav-search-clear-input {
          @extend .hover-pointer;
          position: absolute;
          width: 24px;
          height: 24px;
          right: 32px;
          top: 6px;
          color: rgba(0, 0, 0, 0.6);

          &:hover {
            color: rgba(0, 0, 0, 0.9);
          }
        }

        .filter-dropdown-container {
          @extend .abs-top-left;
          width: 100%;
          height: 100%;
          
          svg {
            @extend .abs-top-right;
            z-index: 12 !important;
            margin: 1px;
            padding: 4px;
            box-sizing: content-box;
            border-radius: 2px;
            width: 25px;
            height: 25px;

            &:hover {
              background-color: $gray-200;
            }
          }

          .filter-dropdown-content {

            display: flex;
            flex-direction: column;
            z-index: 11 !important;

            border-radius: 0px 0px 3px 3px;
            border: 1px solid $gray-300;
            border-top: 1px solid $gray-200;
            margin-top: 29px;
            width: 100%;
            background-color: $gray-100;

            .filter-container {
              padding: 15px;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
              gap: 20px;
              
              .filter-section {
                display: flex;
                flex-direction: column;

                .section-header {
                  font-size: medium;
                  font-weight: 500;
                  padding-bottom: 8px;
                  margin-bottom: 12px;
                  border-bottom: 1px solid $gray-300;
                }

                .filter-option {
                  @extend .hover-pointer;
                  padding: 3px 4px;;
                  border-radius: 3px;
                  display: inline-block;
                  white-space: nowrap;

                  input {
                    margin-right: 8px;
                  }

                  label {
                    margin-left: $spacing-3;
                  }

                  &:hover {
                    background-color: $gray-200;
                  }
                }
              }
            }
          }
        }    
      }
    }
  }
}






