@import '../App.scss';

.gallery {
  margin-top: 50px;
  margin-bottom: 4px;
  width: 100vw;
  border: 0px;
}

// shared padding properties

td.preview-footer {

  padding-top: 0px ! important;

  div {
    //background-color: #508cc5;
    border-top: 1px solid black;
    background-image: linear-gradient(to right, #003c75, #508cc5);
    color: white;
    font-size: small;
    text-align: left;
    padding-left: 4px;
  }
}

