@import '../App.scss';

table.gallery {
  margin-top: 48px;
  margin-bottom: 4px;
  width: 100vw;
  border: 0px;
  padding-top: 8px;
}

// shared padding properties



td.preview-footer {

  padding-top: 0px ! important;

  div {
    //background-color: #003c75;
    border-top: 1px solid black;
    background-image: linear-gradient(to right, #508cc5, #003c75);
    color: white;
    font-size: small;
    text-align: right;
    padding-right: 6px;
  }
}

.gallery td {
  padding: 8px 4px 0px 4px;
}

.gallery td:first-child {
  padding-left: 8px ! important;
}

.gallery td:last-child {
  padding-right: 8px ! important;
}

// per grid nr sizing

.gallery td.grid-2 {
  width: $grid-2-w ! important;
  height: $grid-2-h ! important;
}

.gallery td.grid-3 {
  width: $grid-3-w ! important;
  height: $grid-3-h ! important;
}

.gallery td.grid-4 {
  width: $grid-4-w ! important;
  height: $grid-4-h ! important;
}

.gallery td.grid-5 {
  width: $grid-5-w ! important;
  height: $grid-5-h ! important;
}

