.videoPlayer {
  --plyr-video-controls-background: black;
  --plyr-color-main: #1ac266;
}

.videoContainer {
  height: 80vh ! important;
  width: 80vw ! important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@import '~plyr/src/sass/plyr.scss';