.videoPlayer {
  --plyr-video-controls-background: black;
  --plyr-color-main: #1ac266;
  width: 100%;
  height: 100%;
}

.videoBackground {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.videoContainer {
  //height: 80vh ! important;
  //width: 80vw ! important;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
}

@import '~plyr/src/sass/plyr.scss';