@import '../App.scss';
@import '../css/slider.scss';

.info-panel {

  z-index: 5;
  opacity: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: white;

  .info-title {
    font-size: large;
    position: absolute;
    left: 40px;
    top: 5px;
  }

  .info-panel-content {

    margin: 40px 7px;
    padding: 8px 0px;
    border-top: 1px solid #ced4da;

    table {
      width: 100%;
      height: 100%;
    }

    p {
      color: white;
      font-size: large;
    }
  }

  .tag-entry {

    width: 100%;

    .tag-input {
      float: left;
      width: calc(100% - 30px) ! important;
    }

    .tag-delete-button {
      float: left;
      margin-top: 3px;
      margin-left: 5px;
    }
  }

  .tag-add-button {
    float: right;
  }
}

.grid-preview-cell {
  --ncols: 4;
  --grid-width: calc(100vw / var(--ncols));
  width: var(--grid-width);
  position: relative;
  float: left;
  padding: 2px;
}

.media-title {
  font-size: small;
  float: left;
  height: 20px;
  width: 100%;
  padding-left: 4px;
  border-top: 1px solid black;
  background-image: linear-gradient(to right, #2243b8, #71b1ff);;
  color: white;
}

.preview-container {

  position: relative;
  float: left;
  --ratio: calc(16 / 10);
  width: 100%;
  height: calc(var(--grid-width) * (1 / var(--ratio)));
  display: inline-block;

  z-index: 4;

  .preview-thumbnail {
    z-index: 1;
  }

  .preview-video {
    z-index: 2;
  }

  .preview-media {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu-icon {

  &:hover {
    cursor: pointer;
  }

  z-index: 3;
  width: 20px;
  height: 20px;
}

.info-button {

  &:hover {
    cursor: pointer;
  }
}


