@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);

.TopNavBar {

  height: 45px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 5px;
  background-color: white;
  //border-bottom: 1px solid #ced4da;
  padding: 8px 0px !important;
}

.searchPagination {

  float: right;
  margin: 8px 0px ! important;
}

.bar-left {
  width: 25%;
}

.bar-center {
  vertical-align: middle;
  width: 50%;
  z-index: 10;
}

.bar-right {
  width: 25%;
  padding: 8px 0px;
}

#home-logo {
  float: left;
  font-family: 'Otomanopee One', sans-serif;
  font-size: large;
  padding: 12px 0px !important;
}

#home-logo img {

  margin-left: 2px;
  margin-right: 4px;
  margin-top: -4px;
}

#current-tag {
  padding-left: 8px;
  padding-top: 10px !important;
}

#search-button {
  padding: 2px 5px !important;
}

#search-input {
  flex-grow:1;
}