@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);

.TopNavBar {

  height: 45px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 5px;
  background-color: white;
  //opacity: 50%;
  //border-bottom: 1px solid #ced4da;
  padding: 8px 0px !important;

  .filter-menu-button {

    background-color: #d8d4d4 ! important;
    border-color: darkgray;
    padding: 2px 5px !important;

    img {
      width: 25px;
      height: 25px;
    }

    &:after {
      content: none ! important;
    }
  }

  .filter-menu {
    padding-left: 8px;
    width: 30vw;
  }
}

.bar-left {
  flex-grow: 1;
}

.bar-center {
  vertical-align: middle;
  z-index: 9;
  flex-grow: 2;
}

.bar-right {
  flex-grow: 1;
  padding: 8px 0px;
}

#home-logo {
  float: left;
  font-family: 'Otomanopee One', sans-serif;
  font-size: large;
  padding: 12px 0px !important;
}

#home-logo img {

  margin-left: 2px;
  margin-right: 4px;
  margin-top: -4px;
}

#current-tag {
  padding-left: 8px;
  padding-top: 10px !important;
}

#search-button {
  padding: 2px 5px !important;
}

.nav-search-input {
  position:relative;
  flex-grow:1;
  input {
    width: 100% ! important;
  }
  .nav-clear-input {
    position: absolute;
    right: 5px;
    top: 6px
  }
}