.TopNavBar {

  height: 45px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  background-color: white;
  border-bottom: 1px solid #ced4da;
}

.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute-left {
  position: absolute;
  top: 0;
  left: 0;
  //margin-top: 6px ! important;
  //margin-botton: 6px ! important;
  //transform: translate(0, -50%);
}

.absolute-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 6px ! important;
  margin-botton: 6px ! important;
  //transform: translate(0, -50%);
}

#search-input {
  width: 20vw;
}